<div class="formPanel">
  <p class="warningNotice">
    <%= flash[:notice] if flash[:notice] %>
  </p>
  <% form_for :expense_items, :url => { :action => 'batch_create' } do |f| %>
    <p class="formField">
    <%= f.label :date_from, '起始时间：' %>
    <%= f.date_select :date_from %>
    </p>

    <p class="formField">
    <%= f.label :date_to, '结束时间：' %>
    <%= f.date_select :date_to %>
    </p>

    <p class="formField">
    <%= f.label :expense_type_id, '类型：' %>
    <%= f.select :expense_type_id, @expense_types %>
    </p>

    <p class="formField">
    <%= f.label :value, '金额：' %>
    <%= f.text_field :value %>
    </p>

    <p class="formField">
    <%= f.label :note, '备注：' %>
    <%= f.text_area :note, :col => 50, :row => 30  %>
    </p>

    <p class="formField">
    <%= submit_tag '提交' %>
    <%= link_to '返回>>', expense_month_path(Date.today.year, Date.today.mon), :class => 'backLink'%>
    </p>
<% end %>
</div>
