<div>
  <h2>花销记录</h2> 
  <%= link_to "创建花销记录", new_expense_item_path %>
  <%= link_to "管理花销类型", expense_types_path %>
  <%= link_to "管理标签", expense_tags_path %>
  <%= link_to "批量创建花销记录", :action => 'batch_new' %>
  <%= link_to_if @previous_month, "上一月", :year => @previous_month.year, :month => @previous_month.month %>
  <%= link_to_if @next_month, "下一月", :year => @next_month.year, :month => @next_month.month %>
  <p>
  <%= flash[:notice] if flash[:notice] %>
  </p>
  <table>
    <thead>
      <tr>
        <th>日期</th>
        <th>类型</th>
        <th>金额</th>
        <th>备注</th>
        <th>标签</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @expense_items.map do |expense_item| %>
      <tr>
        <td><%= expense_item.date %></td>
        <td><%= expense_item.expense_type.description %></td>
        <td><%= expense_item.value %></td>
        <td><%= expense_item.note %></td>
        <td><%= expense_item.tag_names %></td>
        <td>
          <%= link_to '=>', edit_expense_item_path(expense_item) %>
          <%= link_to 'X', expense_item, :confirm => "确定要删除吗？", :method => 'delete' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
