<h1>新建标签</h1>

<% form_for(@expense_tag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, '标签' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit '创建' %>
  </p>
<% end %>

<%= link_to '返回', expense_tags_path %>
