<div class="formPanel">
<% form_for(@expense_item) do |f| %>
  <%= f.error_messages %>

  <p class="formField">
    <%= f.label :date, '日期：' %>
    <%= f.date_select :date %>
  </p>
  <p class="formField">
    <%= f.label :expense_type_id, '类型：' %>
    <%= f.select :expense_type_id, @expense_types %>
  </p>
  <p class="formField">
    <%= f.label :value, '金额：' %>
    <%= f.text_field :value %>
  </p>
  <p class="formField">
    <%= f.label :note, '备注：' %>
    <%= f.text_area :note %>
  </p>
  <p class="formField">
    <fieldset>
      <legend>标签（空格分隔）</legend>
        <%= f.text_field :tag_names %>
      <br/>
      <br/>
      <% @expense_tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </fieldset>
  </p>
  <p class="formField">
    <%= f.submit '创建' %>
    <%= link_to '返回>>', expense_month_path(@year, @month), :class => 'backLink' %>
  </p>
<% end %>
</div>
